@model Container
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
</head>
<body>
    <header>
        <h1>Register to this Cool Site!</h1>
    </header>
    <main style="width:70%;" class="form">
        <form asp-action="Register" asp-controller="Home" method="POST">
            <div class="form-control-lg">
                <span asp-validation-for="User.FirstName" class="error"></span>
                <label asp-for="User.FirstName"></label>
                <input type="text" asp-for="User.FirstName">
                <br>
            </div>    
            <div class="form-control-lg">    
                <span asp-validation-for="User.LastName" class="error"></span>
                <label asp-for="User.LastName"></label>
                <input type="text" asp-for="User.LastName">
            </div>
            <div class="form-control-lg">    
                <span asp-validation-for="User.Email" class="error"></span>
                <label asp-for="User.Email"></label>
                <input type="email" asp-for="User.Email">
            </div>
            <div class="form-control-lg">    
                <span asp-validation-for="User.Password" class="error"></span>
                <label asp-for="User.Password"></label>
                <input type="password" asp-for="User.Password">
            </div>
            <div class="form-control-lg">    
                <span asp-validation-for="User.Confirm" class="error"></span>
                <label asp-for="User.Confirm"></label>
                <input type="password" asp-for="User.Confirm">
                <a style="margin-left: 2%;" href="/login">Already Registerd?</a>
            </div>
                <button>Sign Up Now!</button>
        </form>
    </main>
</body>
</html>