@model Container
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login!</title>
</head>
<body>
    <header>
        <h1>Login to this Cool Site!</h1>
    </header>
    <main>
        <form asp-action="Login" asp-controller="Home" method="POST">
            <div class="form-control-lg">    
                <span asp-validation-for="UserLogin.LoginEmail" class="errors"></span>
                <label asp-for="UserLogin.LoginEmail"></label>
                <input type="email" asp-for="UserLogin.LoginEmail">
            </div>
            <div class="form-control-lg">    
                <span asp-validation-for="UserLogin.LoginPassword" class="errors"></span>
                <label asp-for="UserLogin.LoginPassword"></label>
                <input type="password" asp-for="UserLogin.LoginPassword">
                <a style="margin-left: 2%;" href="/">Need To Register?</a>
            </div>
            <button>Submit</button>
        </form>
    </main>
</body>
</html>