@model Container
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login!</title>
</head>
<body>
    <header>
        <h1>Login to this Cool Site!</h1>
        <a href="/">Register</a>
    </header>
    <main>
        <form asp-action="Login" asp-controller="Home" method="POST">
            <span asp-validation-for="UserLogin.LoginEmail" class="errors"></span>
            <label asp-for="UserLogin.LoginEmail"></label>
            <input asp-for="UserLogin.LoginEmail">
            <br>
            <span asp-validation-for="UserLogin.LoginPassword" class="errors"></span>
            <label asp-for="UserLogin.LoginPassword"></label>
            <input asp-for="UserLogin.LoginPassword">
            <br>
            <button>Login</button>
        </form>
    </main>
</body>
</html>